/*БЛОКИ С ПРЯМОУГОЛЬНИКАМИ*/
.info {
    overflow: hidden;
    width: 100%;
    height: 56vw;
    background-color: #F1FFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*gap: 10vw;*/
}

.info-text {
    margin-top: 4vw;
}

.info-text h2 {
    margin-left: 5vw;
    margin-right: 5vw;
    color: #293241;
    font-size: 1.5vw;
    margin-bottom: 5vw;
}

.info-text h1 {
    margin-left: 5vw;
    font-size: 3vw;
    margin-bottom: 4vw;
    color: #293241;
    text-align: left;
}


/*!*ПРЯМОУГОЛЬНИКИ*!*/
.rectangle {
    margin-left: 8vw;
    margin-right: 8vw;
    height: 28vw;
    width: 24vw;
    border-radius: 6vw;
}

.rectangle-left {
    background-color: #98C1D9;
    transform: rotate(-18deg);
}

.rectangle-right {
    transform: rotate(18deg);
    margin-left: 20vw;

}

.rectangle-front {
    background-color: #3D5A80;
    margin-top: -15vw;
}

.rectangle-back {
    background-color: #98C1D9;
}

@media (max-width: 600px) {

    .info-text h1 {
        font-size: 2vw;
    }

    .info-text h2 {
        /*display: none;*/
    }

}


/*ПЕРЕВОРАЧИВАЮЩИЕСЯ КАРТОЧКИ С КУРСАМИ*/
#cards {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(152, 193, 217, 0.7);
    align-items: center;
    height: 50vw;
    width: 100%;
}

.card {
    width: 20vw;
    height: 30vw;
    cursor: pointer;
    transform: translate(0%, 0%);
    z-index: 3;
    text-align: center;
}

.front,
.back {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.9s ease;
    background-color: #3D5A80;
    border-radius: 10px;
}

.front {
    transform: perspective(1200px) rotateY(0);
}

.back {
    transform: perspective(1200px) rotateY(180deg);
}

.card:hover .front {
    transform: perspective(1200px) rotateY(-180deg);
}

.card:hover .back {
    transform: perspective(1200px) rotateY(0);
}

.card p {
    margin-right: 1vw;
    margin-bottom: 20px;
}

.card h1 {
    margin-bottom: 2vw;
}

.meta {
    text-align: left;
}

@media (max-width: 1150px) {
    #cards {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 120vw;
    }

    .card {
        text-align: center;
        width: 60vw;
        height: 30vw;
        cursor: pointer;
        transform: translate(0%, 0%);
        z-index: 3;
    }
}


/*ПОДПИСКА НА НОВОСТИ*/
#news {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3D5A80;
    height: 200px;
    width: 100%;
    text-align: center;
}

#news label {
    display: none;
}

#news h1 {
    color: #293241;
    padding-bottom: 20px;
}

.sub {
    background-color: #006b1b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub input {
    height: 50px;
    width: 190px;
    color: #293241;
    text-align: center;
    border: none;
}

.sub button {
    border: none;
    outline: none;
    height: 50px;
    width: 190px;
    background-color: #98C1D9;
    color: #293241;
}

@media (max-width: 900px) {
    #news {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #3D5A80;
        height: 25vw;
        width: 100%;
        text-align: center;
    }

    #news h1 {
        color: #293241;
        /*padding-top: 2vw;*/
        padding-bottom: 3vw;
    }

}

/*МОДАЛЬНОЕ ОКНО ДЛЯ ПОДПИСКИ*/
.errorlist {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #3D5A80;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #3D5A80;
    width: 30%;
}

.modal-content p {
    color: #3D5A80;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #3D5A80;
    text-decoration: none;
    cursor: pointer;
}