.container_footer{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 135px;
       background-color: #3D5A80;
    padding: 30px;
}


.footer-col h4{
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 25px;
    position: relative;
    padding: 30px 30px;
    background-color: #3D5A80;
    text-align: center;
}


.underline{
    text-decoration: underline;
    text-decoration-color: #EE6C4D;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
}


.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: -30px 10px 10px 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}


@media(max-width: 780px) {
    .container_footer {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #3D5A80;
        height: 370px;
    }
}