/*ОБЩИЙ БЛОК ДЛЯ СЛАЙДЕРОВ*/
.slider {
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*РЕКЛАМНЫЙ СЛАЙДЕР*/
#advertisement {
    height: 660px;
}

.advertisementImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
}

.advertisementImg.active {
    opacity: 1;
}

@media (max-width: 780px) {
    #advertisement {
        height: 300px;
    }
}

/*СЛАЙДЕР С ОТЗЫВАМИ*/
#feedback {
    text-align: center;
    height: 40vw;
    background-color: #98C1D9;
}

.name {
    color: #293241;
    padding-top: 3vw;
}

.feedback-field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.photo {
    margin-right: 5vw;
    border-radius: 50%;
    background-size: auto 25vw;
    overflow: hidden;
    width: 25vw;
    height: 25vw;
}

.photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.feedback-text {
    margin-bottom: 20px;
    height: 15vw;
    color: #293241;
    width: 40vw;
    text-align: left;
}

.feedback-text p {
    color: #293241;
}

.feedback-field.active {
    opacity: 1;
}

@media (max-width: 850px) {
    #feedback {
        height: 70vw;
    }

    .feedback-field {
        height: 100%;
        margin-bottom: 5vw;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback-text {
        text-align: center;
        width: 60vw;
    }

}

/*КНОПКИ СЛАЙДЕРОВ*/
/*РАЗНЫЕ КЛАССЫ ДЛЯ КАЖДОГО СЛАЙДЕРА ДЛЯ КОРРЕКТНОЙ РАБОТЫ JS*/

.slider_button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.scroll {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    position: relative;
}

.scroll::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-left: 2px solid #293241;
    border-bottom: 2px solid #293241;
}

.next {
    display: inline-block;
    margin-right: 20px;
    animation: right 1.5s infinite;
}

.prev {
    display: inline-block;
    animation: left 1.5s infinite;
}

.next::before {
    transform: rotate(-135deg);
}

.prev::before {
    transform: rotate(45deg);
}


.nextFeedback {
    margin-right: 20px;
    animation: right 1.5s infinite;
}

.prevFeedback {
    animation: left 1.5s infinite;
}


.nextFeedback::before {
    transform: rotate(-135deg);
}

.prevFeedback::before {
    transform: rotate(45deg);
}


@keyframes right {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateX(15px);
    }
    40% {
        transform: translate(0);
    }
}

@keyframes left {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateX(-15px);
    }
    40% {
        transform: translate(0);
    }
}


/*-----ОБЫЧНЫЕ КНОПКИ-----*/

/*.slider button {*/
/*    position: absolute;*/
/*top: 50%;*/
/*transform: translateY(-50%);*/
/*z-index: 10;*/
/*color: #24262b;*/
/* width: 60px;*/
/*height: 25px;*/
/*}*/

/*.slider button.prev {*/
/*    left: 20px;*/
/*}*/

/*.slider button.next {*/
/*    right: 20px;*/
/*}*/

/*.slider button.prevFeedback {*/
/*    left: 20px;*/
/*}*/

/*.slider button.nextFeedback {*/
/*    right: 20px;*/
/*}*/