<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link type="text/css" href="footer.css" rel="stylesheet"/>
    <link type="text/css" href="header.css" rel="stylesheet"/>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    </style>

</head>
<body>

<header>
    <div class="container_header">
        <p>Logo</p>
        <div class="container_outside">
            <a href="#" class="block we">О нас</a>
            <button class="btn block">Каталог курсов</button>
        </div>
        <button class="btn block enter">Войти</button>
    </div>
</header>


<div>Ваша страница</div>

<footer id="footer">
    <div class="container_footer">
        <div class="footer-col">
            <h4><a class="underline" href="#">О нас</a></h4>
        </div>
        <div class="footer-col">
            <h4 class="underline">Присоединяйся</h4>
            <div class="social-links">
                <a class="fa fa-telegram" href="#" target="_blank"></a>
                <a class="fa fa-vk" href="#" target="_blank"></a>
                <a class="fa fa-github" href="#" target="_blank"></a>
            </div>
        </div>
        <div class="footer-col">
            <h4><a class="underline" href="#">Что-то еще</a></h4>
        </div>
    </div>
</footer>
</body>
</html>