{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Календарь</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    </style>
    <link href="../../../static/css/calendar.css" rel="stylesheet">
        <link type="text/css" href="{% static 'css/footer.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/header.css' %}" rel="stylesheet"/>
    <script async src="../../../static/js/calendar.js"></script>
</head>
<body>
  <header>
    <div class="container_header">
        <p>Logo</p>
        <div class="container_outside">
            <a href="#" class="block we">О нас</a>
            <button class="btn block">Каталог курсов</button>
        </div>
        <button class="btn block enter">Войти</button>
    </div>
</header>
    <div id="cal-wrap">
        <h1>Расписание</h1>
        <!-- ВЫБОР ПЕРИОДА -->
        <div id="cal-date">
            <select id="cal-mth"></select>
            <select id="cal-yr"></select>
        </div>
        <!-- КАЛЕНДАРЬ -->
        <div id="cal-container"></div>
        <!-- ФОРМА СОБЫТИЯ -->
        <form id="cal-event">
            <h1 id="evt-head"></h1>
            <div id="evt-date"></div>
            <textarea id="evt-details" required placeholder="text"></textarea>
            <input id="evt-close" type="button" value="Закрыть"/>
            <input id="evt-del" type="button" value="Удалить"/>
            <input id="evt-save" type="submit" value="Сохранить"/>
        </form>
    </div>
    <footer id="footer">
    <div class="container_footer">
        <div class="footer-col">
            <h4><a class="underline" href="#">О нас</a></h4>
        </div>
        <div class="footer-col">
            <h4 class="underline">Присоединяйся</h4>
            <div class="social-links">
                <a class="fa fa-telegram" href="#" target="_blank"></a>
                <a class="fa fa-vk" href="#" target="_blank"></a>
                <a class="fa fa-github" href="#" target="_blank"></a>
            </div>
        </div>
        <div class="footer-col">
            <h4><a class="underline" href="#">Что-то еще</a></h4>
        </div>
    </div>
</footer>
</body>
</html>