{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimum-width=320">
    <title>Title</title>
    <link type="text/css" href="{% static 'css/custom.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/footer.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/header.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/slider.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="../../../static/font-awesome-4.7.0/css/font-awesome.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    </style>

</head>
<body>

<header>
    <div class="container_header">
        {#        <img class="logo block" src="{% static 'img/new_logo.png' %}">#}
        <p>Logo</p>
        <div class="container_outside">
            <a href="#" class="block we">О нас</a>
            <button class="btn block">Каталог курсов</button>
        </div>
        <button class="btn block enter">Войти</button>
    </div>
</header>

<div class="slider" id="advertisement">
    <img class="advertisementImg" src="{% static 'img/img1.svg' %}" alt="alt">
    <img class="advertisementImg" src="{% static 'img/img2.svg' %}" alt="alt">
    <img class="advertisementImg" src="{% static 'img/img3.svg' %}" alt="alt">\
    <div class="slider_button">
        <div class="prev scroll"></div>
        <div class="next scroll"></div>
    </div>
</div>
<script src="{% static 'js/slider.js' %}"></script>


<div class="info">
    <div class="info-text">
        <h1 class="underline">Заголовок</h1>
        <h2>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты
            или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать
            наличие самого текста или продемонстрировать типографику в деле.Это тестовый контент, который не должен
            нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
        </h2>
    </div>
    <div class="rectangles">
        <div class="rectangle rectangle-right rectangle-back"></div>
        <div class="rectangle rectangle-left rectangle-front"></div>
    </div>
</div>

<div id="cards">
    {% for course in random_courses %}
        <div class="card">
            <div class="front">
                <p class="meta">вот это курс!</p>
                <h1>
                    {{ course.name }}
                </h1>
                <p>
                    {{ course.description }}
                </p>
            </div>
            <div class="back">
                <p class="meta">вот это курс!</p>
                <h1>
                    {{ course.price }} рублей
                </h1>
                <p>{{ course.duration_days }} продуктивных дней</p>
            </div>
        </div>
    {% endfor %}
</div>

<div class="info">
    <div>
        <div class="rectangle rectangle-left rectangle-back"></div>
        <div class="rectangle rectangle-right rectangle-front"></div>
    </div>
    <div class="info-text">
        <h1 class="underline">Заголовок</h1>
        <h2>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты
            или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать
            наличие самого текста или продемонстрировать типографику в деле.Это тестовый контент, который не должен
            нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
        </h2>
    </div>
</div>

<div id="news">
    <h1>Подписаться на новости </h1>
    <form method="post" class="sub" action="{% url 'index' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Подписаться</button>
    </form>
    {% if message %}
        <div class="fixed-overlay fixed-overlay__modal">
            <div class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
        <script>
            let modal = document.querySelector('.modal');
            let btn = document.querySelector('.close');
            document.querySelector('.subscribe').value = '';
            btn.onclick = function () {
                modal.style.display = 'none';

            }
            setTimeout(function () {
                modal.style.display = 'block';
            });
        </script>
    {% endif %}
</div>


<div id="feedback" class="slider">
    <h1 class="name">Отзывы</h1>
    {% for review in reviews %}
            <div class="feedback-field">
                <div class="photo"><img src="{{ review.user.account.photo.url }}"></div>
                <div class="feedback-text">
                    <h1>{{ review.user.first_name }} {{ review.user.last_name }}</h1>
                    <p>{{ review.course }}</p>
                    <p>{{ review.description }}</p>
                    {#            <p>{{ review.rating }} звезд{{ review.rating|pluralize:"а,ы,"}}</p>#}
                </div>
            </div>
    {% endfor %}
    <div class="slider_button">
        <div class="prevFeedback scroll"></div>
        <div class="nextFeedback scroll"></div>
    </div>
</div>
<script src="{% static 'js/feedback_slider.js' %}"></script>

<footer id="footer">
    <div class="container_footer">
        <div class="footer-col">
            <h4><a class="underline" href="#">О нас</a></h4>
        </div>
        <div class="footer-col">
            <h4 class="underline">Присоединяйся</h4>
            <div class="social-links">
                <a class="fa fa-telegram" href="#" target="_blank"></a>
                <a class="fa fa-vk" href="#" target="_blank"></a>
                <a class="fa fa-github" href="#" target="_blank"></a>
            </div>
        </div>
        <div class="footer-col">
            <h4><a class="underline" href="#">Что-то еще</a></h4>
        </div>
    </div>
</footer>
</body>
</html>