{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
<link type="text/css" href="{% static 'css/custom.css' %}" rel="stylesheet" />
 <link type="text/css" href="{% static 'css/footer.css' %}" rel="stylesheet" />
 <link type="text/css" href="{% static 'css/header.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/slider.css' %}" rel="stylesheet" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    </style>

</head>
<body>

<header>
<div class="container">
    <img class="logo block" src="{% static 'img/new_logo.png' %}">
    <div class="container">
        <a href="#" class="block we">О нас</a>
        <button class="btn block">Каталог курсов</button>
    </div>
    <button class="btn block enter">Войти</button>
</div>
</header>

<div class="slider" id="advertisement">
   <img class ="advertisementImg" src="{% static 'img/img1.svg' %}" alt="alt">
   <img class ="advertisementImg" src="{% static 'img/img2.svg' %}" alt="alt">
   <img class ="advertisementImg" src="{% static 'img/img3.svg' %}" alt="alt">
        <button class="prev">Prev</button>
        <button class="next">Next</button>
</div>
<script src="{% static 'js/slider.js' %}"></script>
<div class="smth">
    <div class="smth-text-first">
        <h1>Какой-то заголовок</h1>
        <h2>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
        </h2>
    </div>
    <div>
        <div class="rectangle first"></div>
        <div class="rectangle second"></div>
    </div>
</div>

<div id="cards">
  {% for card in cards %}
        <div class="card">
            <div class="front">
                <p>10-10</p>
                <h1>
                    {{ card.name }}
                </h1>
                <p style="font-size: 1em;">
                    {{ card.description }}
                </p>
            </div>
            <div class="back">
                <p>10-12</p>
                <h1>
                     {{ card.price }}
                </h1>
                <p>{{ card.plan1 }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<div class="smth">
    <div>
        <div class="rectangle third"></div>
        <div class="rectangle fourth"></div>
    </div>
    <div class="smth-text-second">
        <h1>Какой-то заголовок</h1>
        <h2>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
        </h2>
    </div>
</div>

<div id="news">
    <h1>Подписаться на новости </h1>
    <div class="sub">
        <input type="text" value="Ваша почта">
        <button>Подписаться</button>
    </div>
</div>

<div id="feedback" class="slider">
    <h1 class="name">Отзывы</h1>
    {% for review in reviews %}
    <div class="feedback-field">
        <div class="photo"><img src="{{ review.user.account.photo.url }}"></div>
        <div class="feedback-text">
            <h1 style="margin-bottom: 20px;">{{ review.user.first_name }} {{ review.user.last_name}}</h1>
             <p>{{ review.course }}</p>
            <p>{{ review.description }}</p>
{#            <p>{{ review.rating }} звезд{{ review.rating|pluralize:"а,ы,"}}</p>#}

        </div>
    </div>
    {% endfor %}
    <button class="prevFeedback">Prev</button>
    <button class="nextFeedback">Next</button>
</div>
<script src="{% static 'js/feedback_slider.js' %}"></script>

<footer id="footer">
    <div class="container">
            <div class="footer-col">
                <h4><a href="#">О нас</a></h4>
            </div>
        <div class="footer-col">
            <h4>Присоединяйся</h4>
            <div class="social-links">
                <a href="#">ТГ</a>
                <a href="#">ВК</a>
                <a href="#">Git</a>
            </div>
        </div>
        <div class="footer-col">
            <h4><a href="#">Что-то еще</a></h4>
        </div>
    </div>
</footer>
</body>
</html>